# Income Tax in Ontario

In this notebook we're going to visualize the income tax brackets in various ways.


Summary


Sources

[Tax Rate](
https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/canadian-income-tax-rates-individuals-current-previous-years.html)

[EI](
https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/employment-insurance-ei/ei-premium-rates-maximums.html)

[EI Benefits](https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/benefit-amount.html)

[CPP](
https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/canada-pension-plan-cpp/cpp-contribution-rates-maximums-exemptions.html)

In [2]:
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2
import helpers as tx

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
federal_brackets = [49020, 98040, 151978, 216511, 1000000]
federal_rates = [0.15, 0.205, 0.26, 0.29, 0.33]

ontario_brackets = [45142, 90287, 150000, 220000, 1000000]
ontario_rates = [0.0505, 0.0915, 0.1116, 0.1216, 0.1316]

ei_premium = [56300, 0.0158]
cpp_contrib = [58100, 0.0545]

In [4]:
# Test
test_salary = 75000
# print(tx.federal_rate(75000))
# print(tx.average_rate(75000))

In [5]:
# Plot a stacked line chart on tax and take-home income for different levels of gross income
# Go up to 300k
#

# Testing

In [27]:
tables = pd.read_html('https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/benefit-amount.html')
len(tables)

In [28]:
tables[0].head()

  Number of hours of insurable employment Regional Unemployment Rate  \
  Number of hours of insurable employment                       < 6%
0                                 420-454                          0
1                                 455-489                          0
2                                 490-524                          0
3                                 525-559                          0
4                                 560-594                          0

                                                                            \
  6.1%  –  7.0% 7.1%  –  8.0% 8.1%  –  9.0% 9.1%  –  10.0% 10.1%  –  11.0%
0             0             0             0              0               0
1             0             0             0              0               0
2             0             0             0              0               0
3             0             0             0              0              21
4             0             0             0             20              22

                                                                   \
  11.1%  –  12.0% 12.1%  –  13.0% 13.1%  –  14.0% 14.1%  –  15.0%
0               0               0              26              28
1               0              24              26              28
2              23              25              27              29
3              23              25              27              29
4              24              26              28              30


  15.1%  –  16.0% > 16%
0              30    32
1              30    32
2              31    33
3              31    33
4              32    34

In [34]:
tables[0].tail()

   Number of hours of insurable employment Regional Unemployment Rate  \
   Number of hours of insurable employment                       < 6%
36                             1,680–1,714                         32
37                             1,715–1,749                         33
38                             1,750–1,784                         34
39                             1,785–1,819                         35
40                                  1,820+                         36

                                                                             \
   6.1%  –  7.0% 7.1%  –  8.0% 8.1%  –  9.0% 9.1%  –  10.0% 10.1%  –  11.0%
36            34            36            38             40              42
37            35            37            39             41              43
38            36            38            40             42              44
39            37            39            41             43              45
40            38            40            42             44              45

                                                                    \
   11.1%  –  12.0% 12.1%  –  13.0% 13.1%  –  14.0% 14.1%  –  15.0%
36              44              45              45              45
37              45              45              45              45
38              45              45              45              45
39              45              45              45              45
40              45              45              45              45


   15.1%  –  16.0% > 16%
36              45    45
37              45    45
38              45    45
39              45    45
40              45    45

In [5]:
tables[1]

  Regional rate of unemployment  Required weeks
0                    6% or less              22
1                    6.1% to 7%              21
2                    7.1% to 8%              20
3                    8.1% to 9%              19
4                   9.1% to 10%              18
5                  10.1% to 11%              17
6                  11.1% to 12%              16
7                  12.1% to 13%              15
8                 13.1% or more              14

In [46]:
limtable = tables[0].copy()
# Get upper limits of tables
colnames = [i[1] for i in limtable.columns]
limtable.columns = colnames
limtable.columns

Index(['Number of hours of insurable employment', '< 6%', '6.1%  –  7.0%',
       '7.1%  –  8.0%', '8.1%  –  9.0%', '9.1%  –  10.0%', '10.1%  –  11.0%',
       '11.1%  –  12.0%', '12.1%  –  13.0%', '13.1%  –  14.0%',
       '14.1%  –  15.0%', '15.1%  –  16.0%', '> 16%'],
      dtype='object')

In [47]:
limtable['Number of hours of insurable employment'].loc[0], limtable['Number of hours of insurable employment'].loc[25]

('420-454', '1,295–1,329')

In [54]:
limtable['Number of hours of insurable employment'].replace('1,820+', '1,820-1000000', inplace=True)
def dash_hyphen(input_string):
    """Function to deal with the stupid long dash."""
    # Thanks stackoverflow
    split_char = '-' if '-' in input_string else '–'
    return input_string.split(split_char)[1].replace(',', '')

limtable['Num Hours'] = limtable['Number of hours of insurable employment'].apply(dash_hyphen).astype(float)
# limtable['Num Hours']
limtable.set_index('Num Hours', inplace=True)
del limtable['Number of hours of insurable employment']
limtable.head()

,< 6%,6.1% – 7.0%,7.1% – 8.0%,8.1% – 9.0%,9.1% – 10.0%,10.1% – 11.0%,11.1% – 12.0%,12.1% – 13.0%,13.1% – 14.0%,14.1% – 15.0%,15.1% – 16.0%,> 16%
Num Hours,,,,,,,,,,,,
454.0,0,0,0,0,0,0,0,0,26,28,30,32
489.0,0,0,0,0,0,0,0,24,26,28,30,32
524.0,0,0,0,0,0,0,23,25,27,29,31,33
559.0,0,0,0,0,0,21,23,25,27,29,31,33
594.0,0,0,0,0,20,22,24,26,28,30,32,34

In [64]:
coluppers = colnames[1:].copy()
coluppers[0] = '0–6%'
coluppers[-1] = '16%–100%'
coluppers2 = [float(i.split('–')[1].strip().replace('%', '')) / 100 for i in coluppers]
coluppers2

[0.06, 0.07, 0.08, 0.09, 0.1, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 1.0]

In [65]:
limtable.columns = coluppers2

In [66]:
limtable.head()

,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.16,1.0
Num Hours,,,,,,,,,,,,
454.0,0,0,0,0,0,0,0,0,26,28,30,32
489.0,0,0,0,0,0,0,0,24,26,28,30,32
524.0,0,0,0,0,0,0,23,25,27,29,31,33
559.0,0,0,0,0,0,21,23,25,27,29,31,33
594.0,0,0,0,0,20,22,24,26,28,30,32,34

In [70]:
tx.scrape_table_EI().head()

,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.16,1.0
Num Hours,,,,,,,,,,,,
454.0,0,0,0,0,0,0,0,0,26,28,30,32
489.0,0,0,0,0,0,0,0,24,26,28,30,32
524.0,0,0,0,0,0,0,23,25,27,29,31,33
559.0,0,0,0,0,0,21,23,25,27,29,31,33
594.0,0,0,0,0,20,22,24,26,28,30,32,34

In [73]:
limtable.index

Float64Index([    454.0,     489.0,     524.0,     559.0,     594.0,     629.0,
                  664.0,     699.0,     734.0,     769.0,     804.0,     839.0,
                  874.0,     909.0,     944.0,     979.0,    1014.0,    1049.0,
                 1084.0,    1119.0,    1154.0,    1189.0,    1224.0,    1259.0,
                 1294.0,    1329.0,    1364.0,    1399.0,    1434.0,    1469.0,
                 1504.0,    1539.0,    1574.0,    1609.0,    1644.0,    1679.0,
                 1714.0,    1749.0,    1784.0,    1819.0, 1000000.0],
             dtype='float64', name='Num Hours')

In [74]:
limtable.index - 488

[autoreload of helpers failed: Traceback (most recent call last):
  File "/home/ymzkala/miniconda3/envs/ds-galeria/lib/python3.7/site-packages/IPython/extensions/autoreload.py", line 244, in check
    superreload(m, reload, self.old_objects)
  File "/home/ymzkala/miniconda3/envs/ds-galeria/lib/python3.7/site-packages/IPython/extensions/autoreload.py", line 378, in superreload
    module = reload(module)
  File "/home/ymzkala/miniconda3/envs/ds-galeria/lib/python3.7/imp.py", line 314, in reload
    return importlib.reload(module)
  File "/home/ymzkala/miniconda3/envs/ds-galeria/lib/python3.7/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 630, in _exec
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/home/ymzkala/data-science-galeria/income-tax/helpers.py", line 77, in <module>
    def get_max_weeks(insurable_hours, unemployment_rate, lookup_table=scrape_table_EI()):
  File "/home/ymzkala/data-science-galeria/income-tax/helpers.py", line 67, in scrape_table_EI
    limtable['Num Hours'] = limtable['Number of hours of insurable employment'].apply(dash_hyphen).astype(float)
NameError: name 'dash_hyphen' is not defined
]

Float64Index([   -34.0,      1.0,     36.0,     71.0,    106.0,    141.0,
                 176.0,    211.0,    246.0,    281.0,    316.0,    351.0,
                 386.0,    421.0,    456.0,    491.0,    526.0,    561.0,
                 596.0,    631.0,    666.0,    701.0,    736.0,    771.0,
                 806.0,    841.0,    876.0,    911.0,    946.0,    981.0,
                1016.0,   1051.0,   1086.0,   1121.0,   1156.0,   1191.0,
                1226.0,   1261.0,   1296.0,   1331.0, 999512.0],
             dtype='float64', name='Num Hours')

In [81]:
import helpers as hp
hp.closest_number(5, [3,4,6,7])

6