# Income Tax in Ontario

In this notebook we're going to visualize the income tax brackets in various ways.


Summary


Sources

[Tax Rate](
https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/canadian-income-tax-rates-individuals-current-previous-years.html)

[EI](
https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/employment-insurance-ei/ei-premium-rates-maximums.html)

[EI Benefits](https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/benefit-amount.html)

[CPP](
https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll/payroll-deductions-contributions/canada-pension-plan-cpp/cpp-contribution-rates-maximums-exemptions.html)

In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2
import functions as tx

In [2]:
federal_brackets = [49020, 98040, 151978, 216511, 1000000]
federal_rates = [0.15, 0.205, 0.26, 0.29, 0.33]

ontario_brackets = [45142, 90287, 150000, 220000, 1000000]
ontario_rates = [0.0505, 0.0915, 0.1116, 0.1216, 0.1316]

ei_premium = [56300, 0.0158]
cpp_contrib = [58100, 0.0545]

In [4]:
# Test
test_salary = 75000
# print(tx.federal_rate(75000))
# print(tx.average_rate(75000))

In [5]:
# Plot a stacked line chart on tax and take-home income for different levels of gross income
# Go up to 300k
#

# Testing

In [6]:
tables = pd.read_html('https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/benefit-amount.html')

In [7]:
tables[0].head()

  Number of hours of insurable employment Regional Unemployment Rate  \
  Number of hours of insurable employment                       < 6%
0                                 420-454                          0
1                                 455-489                          0
2                                 490-524                          0
3                                 525-559                          0
4                                 560-594                          0

                                                                            \
  6.1%  –  7.0% 7.1%  –  8.0% 8.1%  –  9.0% 9.1%  –  10.0% 10.1%  –  11.0%
0             0             0             0              0               0
1             0             0             0              0               0
2             0             0             0              0               0
3             0             0             0              0              21
4             0             0             0             20              22

                                                                   \
  11.1%  –  12.0% 12.1%  –  13.0% 13.1%  –  14.0% 14.1%  –  15.0%
0               0               0              26              28
1               0              24              26              28
2              23              25              27              29
3              23              25              27              29
4              24              26              28              30


  15.1%  –  16.0% > 16%
0              30    32
1              30    32
2              31    33
3              31    33
4              32    34

In [8]:
tables[1]

  Regional rate of unemployment  Required weeks
0                    6% or less              22
1                    6.1% to 7%              21
2                    7.1% to 8%              20
3                    8.1% to 9%              19
4                   9.1% to 10%              18
5                  10.1% to 11%              17
6                  11.1% to 12%              16
7                  12.1% to 13%              15
8                 13.1% or more              14

In [9]:
len(tables)

2